.demo-wrapper {
  width: 800px;
  list-style: none;
}
.demo-todo-item {
  width: 300px;

  white-space: pre-line;
  word-break: break-all;
  padding: 15px;
  margin: 20px 0 0 45px;
  display: block;

  box-shadow: 0 0 1em gold;
}

.delete {
  float: right;
  color: red;
}
